*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: fit-content;
    background-color:rgb(0,0,0);
    color:#ffffff;
}
#header-container{
    display: flex;
    
    font-weight: 500;
    font-size: 22px;
}
#header-container  li{

    display: inline-block;
    
    padding: 25px;
}
#header-container li a{
    transition: all 0.3s ease 0s;
    color: rgb(255,255,255);
    }
   
    
#header-logo{
    display: flex;
    margin-left: 10px;
    
}

#post{
    margin:50px;
    padding:20px;
    }
