@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
#title{
    color: white;
    margin-left: 17px;
    margin-top: 28px;
}
nav{
    background-color:#18354c;
    display: flex;
    justify-content: space-between;
}

nav li{
    font-size: large;
    display: inline-block;
    padding: 2rem;
}
nav a{
    color:white;
}

#blog{
    height:100%;
    width: 100%;
    margin: 1rem;
}
#projects{
    margin: 1rem;
}

#projects li{
    display: block;
    font-size:1.5rem;
}
#About{
    display:block;
    text-align: center;
    margin: 1rem;
}
#yt{
    text-align: center;
    margin: 10 auto;
    align-content: center;
}

footer{
    text-align: center;
    background-color: hsl(207, 52%, 20%);
    color: white;
}

footer h2{
    font-weight: 100;
}

#yt a{
    color: red;
    text-decoration: none;
}